@media (min-width: 700px) {
    .story-firends-tablet {
        display: flex; 
    }
    .story-friends {
        display: flex;
        position: relative;
        gap: 10px;
    }
    .story-friends p {
        position: absolute;
        margin-left: 8px;
        margin-top: 200px;
        color: var(--color-logo-secundary);
        font-weight: bold;
    }
   
}