@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-logo: #0062E0;
    --color-logo-secundary: #fff;
    --bg-color-primary: rgba(0, 0, 0, 0.83);
    --bg-input: rgba(0, 0, 0, 0.1);
    --border-primary: #cfcfcf23;

}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body {
    background-color: var(--bg-color-primary);
}
.header-mobile {
    display: flex;
    flex-direction: column;
}
.header-mobile .mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.header-mobile .mobile-top h2 {
    color: var(--color-logo);
    font-size: 2.2rem;
    font-weight: 600;
}
.header-mobile .mobile-top .img-mobile-top {
    display: flex;
    gap: 12px;
    font-size: 20px;
    color: var(--color-logo-secundary);
}
.img-mobile-top .logo-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--border-primary);
}
.header-mobile .navigator-mobile {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: var(--color-logo-secundary);
    padding: 20px 0;
}
.watch {
    display: flex;
    align-items: center; 
}
.watch i {
    position: relative;
    font-size: 1.3rem;  
}
.watch span {
    position: absolute;
    display: flex;
    font-size: 0.6rem;
    margin: 0 0 5px 10px;
}
.navigator-mobile .fa-solid:hover {
    color: var(--color-logo); 
}
.navigator-mobile .watch:hover {
    color: var(--color-logo);
}
.navigator-mobile .watch:active {
    color: var(--color-logo);    
}
.navigator-mobile .fa-solid:active {
    color: var(--color-logo);    
}
.post-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.post-mobile img {
    width: 50px;
    border: 2px solid var(--color-logo);
    border-radius: 50%;
}
.post-mobile input {
    width: 260px;
    height: 35px;
    border-radius: 50px;
    background-color: var(--bg-input);
    border: none;
    padding: 10px;
    color: var(--color-logo-secundary);
    
}
.post-mobile input::placeholder {
    text-align: center;
}
.post-mobile input:focus-visible {
    outline: 2px solid #0062E0;
}
.post-mobile i {
    font-size: 1.3rem;
    color: var(--color-logo-secundary);
}
.swiper {
    display: flex;
    margin-top: 20px;
}
.swiper-slide {
    background-color: #fff;
    max-width: 8rem;
    max-height: 12rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.swiper-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
}
